body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c7ddf0;
    box-sizing: border-box;
    text-align: center;
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

.description, .ingredients, .stepbystep {
    background-color: #7394b1;
    margin: 20px auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
}

#recipe, #head-2 {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.ingredients ul {
    text-align: left;
}

.stepbystep ol {
    text-align: left;
}

li {
    padding-right: 5px;
    padding-bottom: 3px;
}

p {
    margin: 5px auto;
    padding: 0 40px 0 40px;
}

a:link, a:visited {
    display: inline-block;
    background-color: #7394b1;
    color: #a9ca94;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

a:hover, a:active {
    display: inline-block;
    background-color: white;
    color: #c5b589;
}